<a href="https://colab.research.google.com/github/Steve-YJ/DataStructure-Algorithm-with-Python-from-basic/blob/master/%5BPython%5D_lambda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Intro

* 'Python Algorithm Interview'의 6장 로그 데이터 정렬 문제를 풀기 위해서는 Python Lambda문법에 대한 이해가 필요하다
* 코딩 인터뷰 뿐만아니라 앞으로 코딩을 해나가는데 있어서 lambda는 많이 사용될 것 같다. 하나하나 정리해보도록 하자...!

## Source 01. Python Lambda
* w3-school, Python Lambda

### 1. What is Lambda?
* A lambda function is a small anonymous function
* A lambda function can take any number of arguments, but can only have one expression
    * => 임의의 argument를 취하지만 오직 하나의 표현만 갖는다?!

* Syntax
    * <code>lambda arguments : expression </code>

In [2]:
# Example 01

'''
A lambda function that adds 10 to the number passed in as an argument, and print the result:
'''

x = lambda a: a + 10
print(x(5))

15

In [3]:
print(x(10))

20

In [4]:
# Example 02

'''
Lambda functions can take any number of arguments:
'''

x = lambda a, b : a*b
print(x(5, 6))  # expect: 30

30

In [5]:
# Example 03

'''
A lambda function that sums argument a, b, and c and print the result:
'''

x = lambda a, b, c: a + b + c

print(x(1, 2, 3))  #expect 6

6

### 2. Why Use Lambda Functions?
=> 왜 람다 함수를 사용하는거죠??, 그냥 함수 사용하면 안되요?!<br>

* The power of lambda is better shown when you use them as an anonymous function inside another function
* Say you have a function definition that takes one arguments, and that argument will be multiplied with an unknown number:

In [6]:
'''
Say you have a function definition that takes one arguments, and that argument will be multiplied with an unknown number:
'''
def myfunc(n):
    return lambda x: x * n

'''
Use that function definition to make a function that always doubles the number you send in:
'''
mydoubler = myfunc(2)
print(mydoubler(11))  # expect: 22

22

* 1. 함수의 argumnet(인자)가 모르는 숫자에 곱해지는 함수를 정의한다
* 2. 위의 함수를 사용하여 입력 값의 항상 2배를 출력하는 함수를 만들어라

In [7]:
# Or, use the same function definition to make a function that always triples the number you send in:

def myfunc(n):
    return lambda x: x * n

triple = myfunc(3)
print(triple(11))  # Expect 33

33

In [9]:
def myfunc(n):
    return lambda x: x*n

quadra = myfunc(4)
print(quadra(11))

44

If we use lambda -> Last Updata: 20.08.31.mon.pm7:37L<br>

In [10]:
lambda_x = lambda x, n: x * n

print(lambda_x(11, 4))

44

## Source 02. 왕초보를 위한 Python

* 가벼운 마음으로 아 이런 것이 있구나 정도로 공부해봅니다
* 람다 형식은 인공지능 분야나 AutoCAD라는 설계 프로그램에서 많이 쓰이는 Lisp언어에서 물려받았다고 합니다. 
* 함수를 딱 한 줄만으로 만들게 해주는 훌륭한 녀석입니다
* Let's get it start it!

* Lambda Expression<br>
    <code>lambda arguments: expression</code>

In [11]:
# Example 01
'''
두 수를 더하는 함수 만들기
'''

def add(x, y):
    return x + y

print(add(10, 11))  # expect: 21

21

In [12]:
'''
이것을 람다 형식으로 표현해보자
'''

lambda1 = lambda x, y: x + y
print(lambda1(10, 11))  # expect: 21(also!)

21

### map()
* ???
* 갑자기 map함수를 살피는 이유는 모르겠지만
* <code>map()</code>함수를 먼저 살펴보자
* <code>mape(함수, 리스트)</code>

In [11]:
map(lambda x : x ** 2, range(5))  # python 2의 문법

In [13]:
list(map(lambda x: x ** 2, range(5)))

# list로부터 원소를 하나씩 꺼내어 함수에 적용시킨다. 그리고 결과를 새로운 리스트에 담아준다

[0, 1, 4, 9, 16]

In [13]:
# 0에서 9까지의 값에 제곱을 취해주는 리스트 출력

list(map(lambda x: x **2, range(9)))

[0, 1, 4, 9, 16, 25, 36, 49, 64]

### reduce()

* 이번에는 <code>reduce()</code>함수를 살펴봅니다
* <code>reduce(함수, 순서형 자료형)</code>

In [14]:
from functools import reduce  # 파이썬 3
reduce(lambda x, y: x + y, [0, 1, 2, 3, 4])

10

In [18]:
# Do-it!
# 1에서 10까지 더하는 함수를 작성하시오

from functools import reduce

reduce(lambda x, y: x+ y, range(11))

55

In [20]:
reduce(lambda x, y: y + x, 'abcde')

'edcba'

In [21]:
reduce(lambda x, y: y + x, 'I Love U')

'U evoL I'

In [23]:
reduce(lambda x, y : y + x, '소주 만 병만 주소'.split())

'주소병만만소주'

위와 같이 팰린드롭에도 사용할 수 있겠다...!

## 03. 람다 표현식
* from Python Algorith Interview

* 람다 표현식이란?
    * 식별자 없이 실행 가능한 함수를 말하며, 
    * 함수 선언 없이도 하나의 식으로 함수를 단순하게 표현할 수 있다

In [24]:
# Example 01

s = ['2 A', '1 B', '4 C', '1 A']
sorted(s)

['1 A', '1 B', '2 A', '4 C']

In [24]:
# 우리가 원하는 결과는 앞의 요소순으로 정렬하는 것이 아닌 뒤의 요소 알파벳 순으로의 정렬이다

In [29]:
# Review - Do-it!!

s = ['2 A', '1 B', '4 C', '1 A']

s.sort(key=lambda x: (x.split()[1], x.split()[0]))
print(s)

['1 A', '2 A', '1 B', '4 C']

In [27]:
def func(x):
    return x.split()[1], x.split()[0]

s.sort(key=func)
print(s)

['1 A', '2 A', '1 B', '4 C']

위의 방식과 달리 람다를 사용한다면 어떻게 표현할 수 있을까?

In [28]:
s.sort(key=lambda x: (x.split()[1], x.split()[0]))
s

['1 A', '2 A', '1 B', '4 C']

## 백문이 불여일타

* OffByOne님의 블로그 참고

* 파이썬에서의 람다란?
    * 런타임에서 생성해서 사용할 수 있는 익명 함수이다
    * <code>filter(), map(), reduce()</code>와 같은 전형적인 함수들과 함께 사용되는 매우 강력한 개념이다
    * lambda는 쓰고 버리는 일시적인 함수이다
    * 즉, 함수가 생성된 곳에서만 필요하다

In [29]:
# Example

a = [1, 2, 3, 4]
b = [17, 12, 11, 10]

list(map(lambda x, y: x + y, a, b)) # make an iterator

[18, 14, 14, 14]

In [31]:
foo = [2, 18, 9, 22, 17, 24, 8, 12, 27]
# len(foo)ß

list(filter(lambda x: x%3 ==0, foo))  # Return an iterator yielding those items of iterable for which function(item) is true

[18, 9, 24, 12, 27]

In [30]:
foo = [2, 18, 9, 22, 17, 24, 8, 12, 27]

list(filter(lambda x: x%3 == 0, foo))

[18, 9, 24, 12, 27]

In [31]:
from functools import reduce

reduce(lambda x, y: x + y, range(11))

55

In [36]:
list1 = list(range(11))
list2 = list(range(5))
# list1

list(map(lambda x, y: x+y, list1, list2))

[0, 2, 4, 6, 8]